body{
    width:350px;
    padding:20px;
    font-family:Arial,sans-serif;
    transition:0.3s;
}

h2{
    text-align:center;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    box-sizing:border-box;
}

button{
    padding:8px 12px;
    margin:5px;
    cursor:pointer;
}

li{
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:1px solid #ccc;
    padding:8px;
    border-radius:5px;
}

#timer{
    font-size:28px;
    font-weight:bold;
    text-align:center;
}

.dark{
    background:#222;
    color:white;
}

.dark li{
    border-color:white;
}
#cgpaResult{
    font-weight:bold;
    font-size:18px;
    text-align:center;
    margin-top:10px;
}
#cgpaResult{
    font-weight:bold;
    font-size:18px;
    text-align:center;
    margin-top:10px;
}